* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #272a36;
}
.menu-icon {
  width: 250px;
  height: 250px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-icon svg circle {
  opacity: 0;
  fill: rgba(255, 255, 255, 0, 1);
}
.menu-icon svg path {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24 126.65;
  stroke-dashoffset: -38;
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/*toggle menu icon with .open class*/
.menu-icon.open svg circle {
  opacity: 1;
}
